.title {
  font-family: var(--secondary-font);
  font-size: 4rem;
  color: black;
  font-weight: 700;
  padding: 1rem 1rem 0rem;
  border-bottom: 2px solid currentColor;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 95%;
}
@media screen and (min-width: 0px) and (max-width: 590px) {
  .title {
    font-size: 2.5rem;
  }
}
.title::before {
  content: "+ ";
  font-weight: 300;
}
.title span {
  font-weight: 300;
}

.desc {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  color: black;
  padding: 0.4rem 0.6rem 0rem;
  width: 80%;
  line-height: 150%;
}
@media screen and (min-width: 0px) and (max-width: 590px) {
  .desc {
    font-size: 1.3rem;
    width: 100%;
    font-weight: 500;
  }
}

.editIcon {
  margin-top: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  color: white;
  font-size: 2.8rem;
  cursor: pointer;
}
.editIcon.down {
  margin-top: 0;
  padding: 0.4rem;
  font-size: 2.2rem;
  border-radius: 8px;
}
.editIcon:hover {
  filter: brightness(90%);
}
.editIcon.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.editIcon.disabled:hover {
  filter: brightness(100%);
}

.screen {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 2rem;
}
@media screen and (min-width: 0px) and (max-width: 590px) {
  .screen {
    padding: 0px 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
  }
}
@media screen and (min-width: 589px) and (max-width: 1023px) {
  .screen {
    padding: 0px 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
  }
}
.screen h1 {
  font-weight: 900;
  font-size: 4.2rem;
  letter-spacing: -1%;
}
@media screen and (min-width: 0px) and (max-width: 590px) {
  .screen h1 {
    font-size: 2.2rem;
    width: 100%;
  }
}
@media screen and (min-width: 589px) and (max-width: 1023px) {
  .screen h1 {
    font-size: 2.2rem;
    width: 100%;
  }
}
@media screen and (min-width: 589px) and (max-width: 1023px) {
  .screen h1 {
    font-size: 5rem;
  }
}
.screen h1 span {
  color: #ff8000;
}
.screen p {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 300;
  width: 45%;
  margin: 13px 0px 0px;
}
@media screen and (min-width: 0px) and (max-width: 590px) {
  .screen p {
    width: 100%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 589px) and (max-width: 1023px) {
  .screen p {
    width: 100%;
    font-size: 1.3rem;
  }
}
.screen h2 {
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.5%;
}
.screen h2 span {
  background: rgba(58, 253, 169, 0.56);
  padding: 5px 8px;
  border-radius: 10px;
  font-weight: 600;
  font-family: monospace;
}
.screen h2 span.first {
  background: rgba(253, 133, 58, 0.56);
}
.screen h2 span.second {
  display: none;
  background: rgba(21, 0, 255, 0.412);
}
.screen h2 span.third {
  display: none;
  background: rgba(55, 255, 55, 0.518);
}
.screen .button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.screen .button .newBtn {
  all: unset;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
}
.screen .button .newBtn.outline {
  color: rgb(20, 21, 23);
  padding: 0.7rem 1.2rem;
  font-weight: 500;
}
.screen .button .newBtn.outline::before {
  background: transparent;
  border: 2px solid rgb(20, 21, 23);
}
.screen .button .newBtn::after, .screen .button .newBtn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.screen .button .newBtn::before {
  width: 100%;
  height: 100%;
  background: rgb(20, 21, 23);
  border-radius: 10px;
}
.screen .button .newBtn::after {
  width: 0;
  height: 0;
  background-color: rgba(255, 128, 0, 0.3137254902);
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.screen .button .newBtn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.screen .button .newBtn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.screen .button .newBtn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}